/* components/Footer/Footer.module.css */
.footer {
  padding: calc(var(--u) * 3) 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid var(--color-border);
  backdrop-filter: saturate(180%) blur(6px);
}

.contrast {
  background: var(--color-brand);
  color: var(--color-on-primary);
  box-shadow: var(--shadow-3);
}
