.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-block: 16px;
  color: var(--color-text);

  @media (min-width: 768px) {
    flex-direction: row;
    padding: block 24px;
  }

  @media (min-width: 1440px) {
    padding-block: 36px;
  }
}

